@import "tailwindcss";
/* @import "tw-animate-css"; */

:root {
  --desktop-header-height: 64px;
  --desktop-footer-height: 80px;
}

/* prevent over scrolling on the body element */
html,
body {
  overscroll-behavior: none;
  background-color: #000;
}
@media (max-width: 768px) {
  :root{
    --desktop-footer-height: 64px;
  }
  html,
  body {
    overscroll-behavior: auto;
  }
}
/* todo move to tailwind */
.scrollable-content {
  overflow: auto;           /* or scroll if you want always-scrollable */
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable-content::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}


.project-details-card-background {
/* From https://css.glass */
background: rgba(39, 39, 42, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
border: 1px solid rgba(255, 255, 255, 0.08);
}